<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> styles}}
</head>

<body>
    {{> navbar}}
    <div class="container">
        <form method="post">
            {{{renderForm model.form}}}
            <div class="d-flex">
                <button class="btn btn-primary ms-auto">Login</button>
            </div>
        </form>
    </div>
    {{> scripts}}
</body>

</html>